body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url(images/clouds.jpg);
    background-size: cover;
    color: black;
}

#title {
    border-bottom: 0.1rem solid white !important;
}

#searchBtn {
    height: 2rem;
    width:50%;
    margin: 0 auto;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.historyBtn {
    width: 50%;
}

#searchContainer {
    margin-top: 2rem;
}

#forecastTitle {
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid white;
}

.weatherBox {
    margin:0;
    padding: 1.5rem;
    background-image: url(images/ripples.png);
    background-size: cover;
    color: black;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
};

@media screen and (max-width: 1000px) {
    #topSection {
        flex-direction: column !important;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .forecastContainer {
        flex-direction: column;
    }

    .weatherBox {
        margin-left: 10%;
        margin-right: 10%;
    }
}
