body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url(images/8847b045-cb2c-4b7d-8af8-8d0963dd4d25.avif);
    background-size: cover;
    color: black;
}

#title {
    border-bottom: 0.1rem solid white !important;
}

button {
    border-radius: 0.4rem;
}

#searchBtn {
    height: 2rem;
    width:50%;
    margin: 0 auto;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}

#searchContainer {
    margin-top: 2rem;
}

#forecastTitle {
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.weatherBox {
    margin: 1%;
    padding: 4rem 1rem 4rem 1rem;
    background-color: rgba(100,100,100,.5);
    background-size: cover;
    color: black;
};

@media screen and (max-width: 1000px) {
    #topSection {
        flex-direction: column !important;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .forecastContainer {
        flex-direction: column;
    }

    .weatherBox {
        margin-left: 10%;
        margin-right: 10%;
    }
}
